@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sens-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* background-color: rgb(253, 253, 253); */
    background-color: rgb(0, 0, 0);
}
/* shared style  */
.display-flex{
    display: flex;
}
/* header section */
.title{
    /* Get body in shape & stay healthy */
color: aliceblue;
width: 515px;
height: 215px;
font-size: 60px;
padding-left: 65px;
/* font-weight: 600; */
/* text-align: left; */
}

.description{
    color: aliceblue;
    width: 500px;
    /* padding-left: 65px; */
    /* 
    line-height: 20px; */
}
div{
    /* display: block; */
    /* unicode-bidi: isolate; */
}
.bg-light{
    /* background: linear-gradient(180.00deg, rgb(20, 20, 20),rgba(119, 119, 119, 0) 100%); */
    /* Frame 7 */
    /* background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(180.00deg, rgb(46, 45, 45),rgba(119, 119, 119, 0) 100%);
/* position: absolute; */
width: 100%;
height: 715px;
}
.brend{
    color: rgb(230, 83, 60);
font-weight: 700;
}
.custom{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
          
    }


 .btn-first{/
justify-content: center;
align-items: flex-start;
/* gap: 10; */
padding: 16px 40px 16px 40px;
flex: none;
margin: 0px 14px;
border-radius: 42px;
background: rgb(230, 83, 60);
font-style: normal;
  color: aliceblue;    
font-size: 15px;
 }   
 .btn{
    display: flex;
    /* gap: auto; */
    align-items: left;
    /* text-align: left; */
    /* padding: 50px;   */
    margin-left: -10px;
    margin-top: 30px;
 }
 .banner-2{
position: absolute;
width: 49px;
height: 80px;
left: 0px;
top: 40px;
 }
 .img{
    /* Images 2 */
position: absolute;
width: 349px;
height: 580px;
left: 1020px;
top: 135px;
/* display: flex; */
 }
 .Rectangle17{
    /* max-width: max-content; */
    position: absolute;
    width: 214px;
    height: 100.42px;
    left: 950px;
    top: 600.100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);;

 }
 .Rectangle18{
    position: absolute;
    width: 200px;
    height: 100.42px;
    left: 1250px;
    top: 300px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);;
 }
 .pdes{
    color:aliceblue ;
    font-size: 25px;
    /* align-items: center; */
    position: absolute;
    left: 70px;
    top: -10px;
    text-align: left;
    line-height: 24px;
 }
 .pdes2{
    color:aliceblue ;
    font-size: 40px;
    font-weight: bold;
    /* align-items: center; */
    position: absolute;
    left: 30px;
    top: -17px;
    text-align: left;
    line-height: 24px;
 }
 .golla{
   /* Ellipse 2 */
position: absolute;
width: 50px;
height: 50px;
border-radius: 35px;
left: 10px;
top: 20px;
 background-color: rgb(230, 83, 60); 
 }
 .dip{
    color: aliceblue;
 }
 .des{
    color: aliceblue;
 }
 .html4{
    color: rgba(239, 237, 232, 0.65);
   position: absolute;
   left:70px;
   top: 20px;
 }
 .html5{
    color: rgba(255, 255, 255, 0.65);
    position: absolute;
    left:30px;
    top: 38px;
    font-size: 15px;
    line-height: 30px;
 }
 .btn-secend{
   
/* position: static; */
width: 100px;
height: 20px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

gap: 10;
padding: 16px 40px 16px 40px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 14px;
 /* box-sizing: border-box; */
 color: aliceblue;
border-radius: 42px;
font-size: 14px;
border: 2px solid rgb(255, 255, 254);
 }  
      
.home-sec{
width: 92px;
height: 38px;
flex-direction: row;
justify-content: center;
align-items: center;
/* gap: 10; */
padding: 2px 5px 2px 5px;
    border-radius: 46px;
    background-color: rgb(230, 83, 60); 

}
.banner{
    max-width: 1200px;
    /* margin-left: 250px; */
    margin: auto;
}
.navbar{
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 30px;
}
.nav-link{
    text-decoration: none;
    width: 570px;
    height: 45px;
    /* gap: 47px; */
    padding: 4px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    order: 1;
    box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    flex: none;
    font-weight: 400;
    gap:60px;

    list-style: none;
    /* margin-right: 47px; */
    /* border: none; */
 
}
/* main-part-1st */

.change-habits{
color: aliceblue;

width: 671px;
height: 130px;    
display: flex;
flex-direction: column;     
align-items: center;
gap: 14;       

text-align: center;  
padding-left: 500px;
padding-top: 0px; 
margin: 80px 0px;
}
.change-title{
    font-size: 50px;
    
}
/* change habits picture */
.banner3{
    /* Frame 25 */
position: static;
width: 1044px;
height: 274px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* gap: 40; */
padding: 0px  320px;
  
/* margin: 58px 0px; */
}

.wow{
   
position: static;
width: 231px;
height: 274px;

display: flex;
flex-direction: column;
align-items: center;
/* gap: 30; */
/* padding: 0px; */



/* flex-grow: 0; */
margin: 0px 30px;
}
.img3{
  border-radius: 100px;
}
.movement{
    color: aliceblue;
    /* left: 30px; */
    align-items: center;

}
.img3-des{
    color: aliceblue;
    margin-top: 1px;
}

.wow2{

position: static;
width: 231px;
height: 274px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30;
padding: 0px;
  
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 40px;
}
.img2{
 border-radius: 100px
}
.time{
 color: aliceblue;
}
.img2-des{
 color: aliceblue;
 margin-top: 1px;
}
.wow3{

    
position: static;
width: 231px;
height: 274px;
 
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30;
padding: 0px;


flex: none;
order: 2;
flex-grow: 0;
margin: 0px 40px;
}
.img4{
    border-radius: 100px;
}
.prectice{
    color: aliceblue;
}
.img4-des{
    color: aliceblue;
    margin-top: 1px;
}
.wow4{

position: static;
width: 231px;
height: 274px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30;
padding: 0px;


flex: none;
order: 3;
flex-grow: 0;
margin: 0px 40px;
}
.img5{
    border-radius: 100px;
}
.weight-loss{
    color: aliceblue;
}
.img5-des{
  color: aliceblue;
  margin-top: 1px;
}
/* run an extra mile */
.run-extra{

position: static;
width: 1060px;
height: 371px;
margin-left: 380px;

border-radius: 18px;
margin-top: 100px;
background: rgb(34, 34, 34);
}
.run-div{
    color: aliceblue;
   
position: absolute;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 34;
padding: 0px; 

   }
.run-title{

     width: 440px;
     height: 116px;  
   color: rgb(255, 255, 255);
font-family: Inter;
   font-size: 48px;
   font-weight: 900;                        
   text-align: left;
margin-left: 80px;


}
.run-des{
position: static;
width: 400px; height: 10px;
 color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
line-height: 15px;
letter-spacing: 0.3px;

  margin-left: 80px;
  margin-top: 1px;
}
.run-btn-div{

position: static;
width: 170px;
height: 40px; 
 display: flex;
flex-direction: row;
justify-content: center;
margin-left: 80px;
margin-top: 50px;

padding: 16px 40px 16px 40px;



border-radius: 42px;

background: rgb(230, 83, 60);
}
.run-btn{
width: 70px;
 height: 22px;
display: flex;
border-radius: 20px;
margin-left: 10px;
flex-direction: row;
/* text-align: center; */
justify-content: center;
align-items: flex-start;
margin-top: 7px;
}
.run-img{

position: absolute;
width: 366px;
height: 312px;
left: 662px;
top: 30px;
border-radius: 20px;
}
.team{
    color: aliceblue;
    width: 671px;

    align-items: center;

    text-align: center;
    padding-left: 500px;

}
.team-member{
    color: aliceblue;

    font-size: 50px;
}
.team-des{
    color: rgba(255, 255, 255, 0.5);

}

.team-picture{

position: static;
width: 1060px;
height: 604px;

/* display: flex; */
/* flex-direction: row; */
justify-content: center;
align-items: flex-start;

margin-left: 400px;
flex: none;

border-radius: 18px;
background:aliceblue;
}

.trainer1, .trainer2, .trainer3, .trainer4, .trainer5,
.trainer6{

width: 326.67px;
height: 272px;

flex: none;


align-self: stretch;


margin: 15px 10px 5px 10px;
border-radius: 18px;
background: rgba(0, 0, 0, 0.2),url(image);
}

.footer{
position: static;
height: 489px;
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 88px 0px;
background: rgba(255, 255, 255, 0.1);
}

.foot-div{
position: absolute;
width: 1059px;
height: 249px;
left: 290px;
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 102;
padding: 0px;

}

.brend2{
    font-size: 60px;
}
.nav-h2{
    font-size: 30px;
}
nav,li{
height: 35px;
gap: 20;
}
nav, p, li{
    color: rgba(255, 255, 255, 0.5);
}

.foot-des{
    width: 500px;
    height: 150px;
}

nav{
position: static;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 152;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 102px;
}

.scell{
  color: aliceblue;
position: absolute;
width: 1150px;
height: 0px;
left: 289px;
margin-top: 400px;
border: 2px solid tomato;
background: rgb(185, 185, 185);
}

.copyright{
position: absolute;
width: 318px;
height: 24px;
left: 670px;
margin-top: 430px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.3px;
}



/* chaleng part  */


.container {
    /* width: 1440px; */
    height: 487px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    margin-top: 50px;
    background-color: #555;
}

.Calculate-des{
    font-size: 30px;
}
.Calculate-p{
    width: 400px;
}

.bmi-chart{
    width: 500px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    /* width: 45%; */
    height: 300px;  
    margin-top: 50px;
}

.bmi-calculator{
    width: 500px;
    background-color: #333;
    padding: 20px;
    margin-top: 30px;
    margin-left: -400px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    /* width: 45%; */
    height: 400px;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #444;
}

form {
    /* width: 200px; */
     /* height: 1000px; */
    /* display: flex; */
    /* flex-direction: column; */
}

label {
    margin-bottom: 5px;
}

input{
    /* width: 250px; */
    /* height: 40px; */
    display: flex;
    /* margin-bottom: 15px; */
    /* padding: 10px; */
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    /* color: #fff; */
}
.tool{
    /* Frame 44 */
/* position: static; */
/* width: 577px; */
/* height: 168px; */
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 34px 0px;
}
.tool-2{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}
#height{
    width: 200px;
    height: 30px;
    margin-right: 40px;
    font-size: 18px;
}
#weight{
    width: 200px;
    height: 30px; 
    font-size: 17px;
}
#age{
    width: 200px;
    height: 30px;
    margin-right: 40px;
    font-size: 18px;
}
#sex{
    width: 210px;
    height: 30px;
    background-color: #444;
    border-radius: 5px;
    font-size: 15px;
    /* gap: 20; */
    /* margin-right: -990px; */
}
#activity{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background-color: #444;
    margin-top: 20px;
    font-size: 20px;

}

.button-chall {
    /* padding: 10px 20px; */
    width: 130px;
    height: 50px;
    background-color: #ff5722;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 180px;
}

button:hover {
    background-color: #e64a19;
}

/* desktop screen comelete  */


/* mobile screen :start */

@media only screen and (max-width:576px) {
    /* header section  */
    .work-sens-font{
        width: 395px;
        height: 6963px;
        display: block;
    }
    .navbar{
        /* text-align: center; */
        align-items: center;
        /* height: 2-px; */
        flex-direction:column;
        font-size: 30px;
        
    }
     .title{
        width: 300px;
        height: 100px;
        margin-left : -50px;
        font-size: 40px;
     
    }
    .description{
        width: 300px;
        height: 70px;
        margin-top: 50px;
    }
    .btn-secend{
        margin-left: -5px;
    }
     .nav-link{
        visibility: hidden;
        /* flex: none; */
    }
    .img{
       left: 10px;
       top: 450px;
    }
    .Rectangle17{
        left: 10px;
        top: 900px;
    }
    .Rectangle18{
        left: 180px;
        top: 510px;
    }
/* main section  */

   .change-habits{
    width: 300px;
    height: 35px;
    padding-left: 50px;
    padding-top: 250px;
   }

   .banner3{
     width: 338px;
     height: 1100px;
     flex-direction: column;
     padding: 0px;
     margin-top: 300px;
   }
   .run-extra{
    margin-left: 10px;
    width: 400px;
    height: 700px;
   }
   .run-title{
    width: 300px;
    height: 100px;
    margin-left: 25px;
   }
   .run-des{
    width: 300px;
    margin-left: 25px;
   }
   .run-btn-div{
    width: 250px;
    margin-left: 20px;
   }
   .run-btn{
    width: 150px;
    font-size: 27px;
    /* text-align: justify */
    background-color:fuchsia ;
   }
   .run-img{
    left: 20px;
    top: 350px;
   }
   /* main-challeng part  */
   .container{
     width: 350px;
     height: 800px;
     border-radius: 10px;
     /* left: 1000px; */
     margin-left: 15px;
   }
   .bmi-chart{
    width: 300px;
    height: 280px;
    margin-left: -20px;
    margin-top: 0px;
   }
   .bmi-calculator{
    width: 300px;
    height: 400px;
    /* margin-left: 50px ; */
    margin-top: 350px;
   }
   .Calculate-des{
     /* width: 150px; */
     /* height: 50px; */
     font-size: 20px;
   }
   .Calculate-p{
    width: 300px;
    height: 30px;
    font-size: 10px;
   }
   #height{
    width: 130px;
   }
   #weight{
    width: 130px;
    margin-left: -10px;
   }
   #age{
    width: 130px;
   }
    #activity{
        width: 300px;
    }
    .button-chall{
        margin-left: 100px;
    }

       /* our team member  */
    .team{
        width: 400px;
        height: 200px;
        margin-left: -500px;
    }
     .team-picture{
        /* position: static; */
        width: 353px;
        height: 1750px;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */
        gap: 20;
        padding: 20px;
        /* flex: none; */
        /* order: 0; */
        /* flex-grow: 1; */
        margin: 50px 20px;
     }
      .footer{ 
        width: 393px;
        height: 986px;
        margin-left: 10px;
        background: rgba(255, 255, 255, 0.1);
      }
      .ex-per{
        width: 100px;
        margin-left: -250px;
        margin-top: -100px;
      }
      .foot-des{
        width: 380px;
      }
      .get-started-1{
        margin-top: 200px;
        margin-left: -100px;
        font-size: 30px;
        
      }
      .get-started-2{
        margin-top: 450px;
        margin-left: -380px;
        font-size: 30px;
      }
      .scell{
        width: 350px;
        margin-left: -250px;
        margin-top: 850px ;
      }
      .copyright{
        margin-left: -600px;
        margin-top: 900px;
      }

}
